[Unit]
Description=Poll for AULA keyboard presence every 5 seconds

[Timer]
OnBootSec=45
OnUnitActiveSec=5
AccuracySec=1s
Unit=aula-hacky-poll.service

[Install]
WantedBy=timers.target
